
*{
    background-color: #87ff87;
    font-family:sans-serif;
    font-style: oblique;
    margin : 0;
    padding : 0;
    border :0;
}

.top1{
    background-color: #ff4d4d;
    color: white;
    padding : 18px 0px;
    padding-left: 10px;
    font-size:24px;
}

.top2{
    background-color:black;
}

.top2 ul{
    list-style: none;
    padding:10px 0px;
    background-color:black;
}

.top2 li{
    display:inline;
    background-color:black;
    padding-left: 10px;
    padding-right: 10px;
}

.top2 a{
    color : #fff;
    text-decoration: none;
    font-size : 18px;
    padding:0px 15px;
    background-color:transparent !important;
}

.top2 a:hover{
    color: orange;
}


.middle{
 margin:auto;
}

.bottom{
    text-align : left;
    background-color: black;
    color : white;
    font-size: 14px;
    padding : 5px 10px;
}

.tab{                    
    width : 70%;
    margin:auto;
    padding : 10px 10px;
    background-color: #ffdf80;

    font-size: 20px;

}
.tab,.tab th,.tab td{
border: 1px solid black;
border-collapse: collapse;
background-color: #ffdf80;
padding : 5px 5px;
}

th{
    text-align:center;
}

td{
    text-align :center;
}

.title,.coupro-title{
text-align: center;
padding : 5px 0px;
font-size: 23px;

}

.nildata{
    text-align : center;
    color : black;
    font-size: 20px;
    padding : 10px 10px;
}

.coupro-li{
    list-style: none;
    padding:5px 0px;
    font-size: 20px;
}

.notices-tab{
    width : 70%;
    margin:auto;
    padding : 10px 10px;
    /*background-color: #b3b3ff;*/
    background-color:#ffdf80;
    font-size: 18px;
    margin-top: 18px;
}

.notices-tab,.notices-tab th,.notices-tab tr,.notices-tab td{
border: 1px solid black;
border-collapse: collapse;
background-color: #ffdf80;
padding : 5px 5px;
}

.notices-tab th{
    width:30%;
}
notices-tab tr td div{
    font-size: 18px;
    background-color: #ffdf80;
}
.notice-cls{
    background-color: #ffdf80;
}
.create-notice{
    padding : 10px 0px;
    background-color: #ffdf80;
    font-size : 18px;
}

.btn-notice{
border: none;
background-color: #ffdf80;
font-size: 16px;
cursor: pointer;
}
.btn-notice:hover,.btn-notice-create:hover{
color : orange;
}
.btn-notice-create{
border: none;
background-color: #87ff87;
font-size: 16px;
cursor: pointer;
}
.noticecreateform{
    width :70%;
    margin : auto;
    background-color: #ffdf80;

}
.noticecreateform input{
    /*background-color: #ffdf80;*/
    font-size : 15px;
    text-align:center;
    border-bottom: 1px solid black;
    padding : 10px 0px;
}
.noticecreateform label{
    padding : 10px 0px;
}
.noticecreate-input{
    padding:10px 0px;
    /*margin: black;*/
    border: black 3px;
}